:root {
  --black-color: #000000;
  --bg-prime-color: #ffffff;
  --bg-second-color: #f5f4fa;
  --text-prime-color: #757575;
  --text-second-color: #212121;
  --text-accent-color: #2196f3;
  --botton-prime-color: #f5f4fa;
  --border-color: #eeeeee;
  --link-footer-color: rgba(255, 255, 255, 0.6);
  --hero-footer-color: #2f303a;
  --border-card-color: #eeeeee;
  --header-border-color: #ececec;
  --icon-soc-color: #afb1b8;
  --soc-footer-color: rgba(255, 255, 255, 0.1);
  --function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background-color: var(--bg-prime-color);
  color: var(--text-prime-color);
}

/* ЗАГОЛОВКИ СБРОС отступов */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

/* РИСУНКИ В INLINE-BLOCK */
img {
  display: block;
  padding: 0;
  margin: 0;
}

/* === УДАЛЕНЫ МАРКЕРЫ ДЛЯ ВСЕХ СПИСКОВ === */
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* PADDING для ВСЕХ INPUT  */
input {
  padding: 0;
}

/* === УДАЛЕНЫ ПОДЧЕРКИВАНИЕ ССЫЛОК ===  */
.link {
  text-decoration: none;
}

/* --= ПАРАМЕТРЫ КОНТЕЙНЕРА =-- */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* === ЦВЕТ ДЛЯ ЗАГОЛОВКОВ(h2) СЕКЦИЙ === */
.title {
  color: var(--text-second-color);
}

/* ===  ШРИФТ h2(ешеду) ДЛЯ ВСЕХ СЕКЦИЙ(кроме footer)  === */
.section__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* !========== HEADER======= */

/* БЛОК НАВИГАЦИЯ И КОНТАКТЫ */
.head__container {
  display: flex;
  align-items: center;
}

/* ----  СТИЛЬ ЛОГОТИПА HEADER И FOOTER   --- */

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  transition: outline-color 250ms var(--function);

  /* --- ЦВЕТ ЛОГОТИПА HEADER  --- */
  color: var(--logo-studio-color);
}

.container__logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

/* -- ЦВЕТОВОЙ АКЦЕНТ ЛОГОТИПА HEADER И FOOTER -- */
.logo__txt--accented {
  color: var(--text-accent-color);
}

.container__logo:focus {
  outline-color: var(--text-accent-color);
}

/*  ? == ГЛАВНАЯ НАВИГАЦИЯ == */
.nav-box {
  padding-left: 93px;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
  /* outline: 1px solid red; */
}

.site-nav__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-second-color);

  transition: color 250ms var(--function);
}

/*  ПОДСВЕТКА И ШТРИХ ТЕКУЩЕЙ СТРАНИЦЫ   */
.site-nav__link--current {
  color: var(--text-accent-color);
}

.site-nav__link--current:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--text-accent-color);
}

/* !--- КОНТАКТЫ HEADER   --- */
.contacts-head {
  display: flex;
  /* margin-left: auto; */
  margin-left: 305px;
}

.contacts-head__item:not(:last-child) {
  margin-right: 30px;
}

/* ?=== ЛИШНИЙ FLEX ===  */
/* .contakt-header .item {
  display: inline-flex;
  align-items: center;
} */

.contacts-head__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-prime-color);
  fill: currentColor;

  transition: border-color 250ms var(--function), outline-color 250ms var(--function),
    fill 250ms var(--function);
}

/* icon-contact, */
.contacts-head__icon {
  /* fill: red; */
  margin-right: 10px;
}

.site-nav__link:hover,
.site-nav__link:focus,
.contacts-head__link:hover,
.contacts-head__link:focus {
  color: var(--text-accent-color);
  fill: currentColor;
  border-color: var(--text-accent-color);
  outline-color: var(--text-accent-color);
}
.logo:focus {
  border-color: var(--text-accent-color);
  outline-color: var(--text-accent-color);
}

/* === нижняя линия в HEADER ===  */
.header {
  border-bottom: 1px solid var(--header-border-color);
}

/* ===========  HEADER FIN  ====== */

/* ! ===  MAIN  === */

/* !---  СТИЛЬ ДЛЯ HERO  --- */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-Img-opt.jpg);

  /* background-color: red; */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* todo ЛИШНИЙ КОД */

/* .hero {
  padding-top: 200px;
  padding-bottom: 200px;
} */

.hero__title {
  margin-bottom: 30px;
  /* ШРИФТЫ */
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  text-transform: uppercase;
  color: var(--bg-prime-color);
}

/* ---- КНОПКА HERO Заказать ---- */
/* .hero-btn, */
.hero__btn {
  display: inline-block;
  padding: 10px 32px;
  align-items: center;
  text-align: center;

  font-family: inherit; /* НАСЛ-от BODY-  */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--bg-prime-color);
  background-color: var(--text-accent-color);
  cursor: pointer;
  transition: background-color 250ms var(--function);
}

.hero__btn:hover,
.hero__btn:focus,
.hero__btn:active,
.form__btn:hover {
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* ---  HERO-FIN  --- */

/* !---  СЕКЦИЯ ОСОБЕННОСТИ  --- */

.nuances {
  padding-top: 94px;
}

/* .hidden, */
.section__title--hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  /* display: none; */
}

/* .nuances-list, */
.nuances-list {
  display: flex;
  /* flex-direction: row; */
}

.nuances-list__item {
  width: 270px;
}

.nuances-list__item:not(:last-child) {
  margin-right: 30px;
}

.nuances-list__title {
  margin-bottom: 10px;
  /* padding-bottom: 10px; */

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nuances-list__txt {
  line-height: 1.7;
  letter-spacing: 0.03em;
}

/* === SVG ОСОБЕННОСТЕЙ ===- */
.nuances-list__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--bg-second-color);
}

/* !--- СЕКЦИЯ ЧЕМ МЫ ЗАНИМАЕМСЯ --- */
.production {
  padding-top: 94px;
  padding-bottom: 94px;
}

.production-list {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.production-list__item {
  position: relative;
}

.production-list__title {
  /* display: block; */
  left: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  padding: 27px 82px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--bg-prime-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* !--- СЕКЦИЯ КОМАНДА --- */
.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--bg-second-color);
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team-list__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  background-color: var(--bg-prime-color);
}

.member__data {
  padding: 30px 32px;

  text-align: center;
}

.member__descript {
  margin-bottom: 16px;
}

.member__title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.member__txt {
  display: inline-block;
  font-size: 16px;
  line-height: 1.19px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* ___СТИЛИЗАЦИЯ0 БЛОКА СОЦ-СЕТИ ___ */
.webpages {
  /* width: 270; */
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.webpages__item:not(:last-child) {
  margin-right: 10px;
}

.webpages__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: background-color 250ms var(--function);
  /* background-color: yellow; */
  /* outline: 1px solid teal; */
}

.webpages__link:hover,
.webpages__link:focus {
  background-color: var(--text-accent-color);
  /* outline: var(--text-accent-color); */
}

.webpages__icon {
  fill: var(--icon-soc-color);
  transition: fill 250ms var(--function);
}

.webpages__link:hover .webpages__icon,
.webpages__link:focus .webpages__icon {
  fill: var(--bg-prime-color);
  /* fill: red; */
}

/* !  --- СЕКЦИЯ КЛИЕНТЫ --- */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .client-item, */
.client-list__item {
  display: flex;
  /* outline: 1px solid teal; */
}

.client-list__link {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  padding: 16px 32px;

  border: 1px solid var(--icon-soc-color);
  border-radius: 4px;
  transition: border-color 250ms var(--function), outline-color 250ms var(--function);
  /* background-color: violet; */
}

.client-list__icon {
  fill: var(--icon-soc-color);
  transition: fill 250ms var(--function);
}

.client-list__link:hover,
.client-list__link:focus {
  outline-color: var(--text-accent-color);
  border: 1px solid var(--text-accent-color);
}
.client-list__link:hover .client-list__icon,
.client-list__link:focus .client-list__icon {
  fill: var(--text-accent-color);
}
/* ! === fin  === */

/* ! ========= Portfolio PAGES ======= */
.works {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* ! --- кнопки портфолио  --- */

.filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* --- список --- */
.filter__item:not(:last-child) {
  margin-right: 8px;
}

/* --- стили кнопок ---- */
.filter__btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 0px solid transparent;

  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-second-color);
  background-color: var(--bg-second-color);
  cursor: pointer;
  transition: color 250ms var(--function), box-shadow 250ms var(--function),
    background-color 250ms var(--function);
}

.filter__btn:hover,
.filter__btn:focus {
  background-color: var(--text-accent-color);
  color: var(--bg-prime-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  /* outline: var(--text-accent-color); */
}

/* !------ Примеры работ  ------ */

/* ------------ список work-example ---------- */
.work-examples {
  display: flex;
  flex-wrap: wrap;
}

/* ---элементы списка work-example ----- */
.work-examples__item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  /* background-color: rgb(255, 182, 129); */
}

/* -- margin ---- */
.work-examples__item:nth-child(3n) {
  margin-right: 0;
}

.work-examples__item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.sample__link {
  display: inline-block;
  transition: box-shadow 250ms var(--function);
  /* background-color: violet; */
}

/* ======ТЕНЬ НА LINK========== */
.sample__link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* ---------OVERLAY-BOX------------- */
/* .pictur-box, */
.sample__pict-box {
  /* display: flex; */
  position: relative;
  overflow: hidden;
}

/* .overlay-box, */
.sample__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: 250ms var(--function);
}

.sample__link:hover .sample__overlay,
.sample__link:focus .sample__overlay {
  transform: translateY(0);
}

/* .work-descript, */
.sample__specification {
  padding: 63px 24px;

  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--bg-prime-color);
}

/* .works-title, */
.sample__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* ---- НИЗ КАРТОЧЕК --- */
.sample__description {
  padding: 20px 24px;

  border-bottom: 1px solid var(--border-card-color);
  border-left: 1px solid var(--border-card-color);
  border-right: 1px solid var(--border-card-color);
}

.sample__txt {
  display: block;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-prime-color);
}
/* ! ===  PORTFOLIO FIN  === */

/* ! ===  FOOTER  === */
.footer {
  background-color: var(--hero-footer-color);
}

.footer__contacts {
  margin-right: 70px;
}

.footer__container {
  display: flex;
  align-items: baseline;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__logo {
  display: block;
  padding: 0;
  margin-bottom: 20px;
}

/* --- БЕЛЫЙ ЦВЕТ ЛОГОТИПА ФУТЕРА --- */
.logo__txt--light {
  color: var(--bg-prime-color);
}

/* --- АДРЕСС ПРОСПЕКТТ --- */
.address-list__txt {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--bg-prime-color);
}

/* --- АДРЕСНЫЕ ССЫЛКИ В ФУТЕРЕ  --- */
.address-list__link {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--link-footer-color);
}

.address-list__link:hover,
.address-list__link:focus {
  color: var(--text-accent-color);
}

.address-list__item {
  margin-top: 9px;
}

/* ! БЛОК ПРИСОЕДИНЯЙТЕСЬ  */
.join {
  display: flex;
  flex-direction: column;
  margin-right: 93px;

  /* outline: 1px solid red; */
}

.join__title {
  /* display: flex; */
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: var(--bg-prime-color);

  text-transform: uppercase;
}

/* ? --- NEW SOCIAL__FOOTER ------  */

.webpages__link--dark {
  background-color: var(--soc-footer-color);
  /* outline: 1px solid teal; */
}
.webpages__icon--dark {
  fill: var(--bg-prime-color);
}

/* .soc-list-footer, */

.mailing {
  display: flex;
  flex-direction: column;
}

/* .mailing-label, */
.mailing__label {
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--bg-prime-color);
  text-transform: uppercase;
}

/* .form-footer, */
.mailing__box {
  display: flex;
}

/* .mailing-input, */
.mailing__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  /* padding-right: 5px; */

  font-size: 16px;
  line-height: 1.25;
  color: var(--bg-prime-color);

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border-color 250ms var(--function);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.mailing-input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--link-footer-color);
}

.mailing-input:focus {
  border-color: var(--text-accent-color);
  outline: var(--text-accent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.mailing__btn {
  display: flex;
  width: 200px;
  height: 50px;
  /* justify-content: center; */
  align-items: center;
  padding-left: 28px;

  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  color: var(--bg-prime-color);
  background-color: var(--text-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms var(--function);
}

.mailing__btn:hover,
.mailing__btn:focus {
  /* border-color: var(--bg-prime-color); */
  /* outline: none; */
  background-color: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/* .mailing-icon, */
.mailing__icon {
  margin-left: 10px;
  fill: var(--bg-prime-color);
}
/* ============ FOOTER FIN ============== */

/* =============== МОДАЛЬНОЕ ОКНО ========= */

.backdrop {
  position: fixed;
  /* z-index: 2; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity 250ms var(--function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(2.5) rotateX(-360deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotateX(0deg);
  width: 528px;
  height: 581px;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;

  background-color: var(--bg-prime-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms var(--function);
}

/* .modal-close, */
.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  /* fill: rgba(0, 0, 0, 1); */
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  transition: outline-color 250ms var(--function), fill 250ms var(--function);
}

.modal__close:hover,
.modal__close:focus {
  outline-color: var(--text-accent-color);
}

.modal__icon {
  fill: var(--logo-studio-color);
  transition: fill 250ms var(--function);
}

.modal__close:hover .modal__icon,
.modal__close:focus .modal__icon {
  fill: var(--text-accent-color);
}

/* -------- СТИЛИ ФОРМЫ МОДАЛЬНОГО ОКНА -----  */
.modal__title {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  text-align: center;

  color: var(--logo-studio-color);
}

.form__field {
  /* position: relative; */
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.form__label {
  width: 100%;

  margin-bottom: 4px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  color: var(--text-second-color);
  letter-spacing: 0.01em;
}
.form__input {
  width: 100%;
  height: 40px;
  padding: 0 20px 0 42px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  color: var(--text-second-color);
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--function), outline-color 250ms var(--function);
}

.form__icon-position {
  position: relative;
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);

  fill: var(--text-second-color);
  transition: fill 250ms var(--function);
}

.form__input:focus + .form__icon {
  fill: var(--text-accent-color);
}
/* ================= */
/* .form__icon:focus,
.form__input:focus {
  fill: var(--text-accent-color);
} */

/* =============== */

.form__comment {
  display: flex;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form__input-comment {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  color: var(--text-second-color);
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--function), outline-color 250ms var(--function);
}

.form__input-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form__input:focus,
.form__input-comment:focus {
  border-color: var(--text-accent-color);
  outline-color: var(--text-accent-color);
}

/* --- СТИЛИ CHECK BOX --- */

/* --- ОБЕРТКА ДЛЯ ВСЕГО ЧЕК_БОКСА --- */
.accord {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.accord__label {
  display: flex;
  justify-content: center;

  font-weight: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  align-items: center;
  /* outline: 1px solid teal; */
}

/* ----- CКРЫВАЕМ CHECK-BOX ------- */
/* .check-box, */
.accord__check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* --- ФОН И ГЕОМЕТРИЯ ДЛЯ ПСЕВДО-CHECK --  */
/* .icon-box, */
.accord__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 15px;
  margin-right: 7px;

  border: 2px solid var(--text-second-color);
  border-radius: 2px;

  transition: background-color 250ms var(--function), border-color 250ms var(--function);
}

/* --- ПОЗИЦИОНИРОВАНИЕ SVG КАРТИНКИ --- */
/* .icon-check, */
.accord__icon {
  position: absolute;
}

/* --- ПОВЕДЕНИЕ ЧЕК-БОКСА ПРИ :CHECKED --- */
/* .check-box:checked + .icon-box, */
.accord__check:checked + .accord__icon-box {
  background-color: var(--text-accent-color);
  border-color: var(--text-accent-color);
}

/* --- ПОВЕДЕНИЕ ЧЕК-БОКСА ПРИ :FOCUS --- */
.accord__check:focus + .accord__icon-box {
  border-color: var(--text-accent-color);
}

/* --- СТИЛИЗАЦИЯ ССЫЛКИ ----  */
.accord__link {
  margin-left: 5px;
  color: var(--text-accent-color);
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
}

/* --- КНОПКА В МОДАЛКЕ --- */
.form__btn {
  display: block;
  justify-content: center;
  padding: 10px 55px;
  margin: auto;
  /* align-items: center; */
  /* text-align: center; */

  font-family: inherit; /* НАСЛ-от BODY-  */
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  border: 1px solid transparent;
  border-radius: 4px;
  color: var(--bg-prime-color);
  background-color: var(--text-accent-color);
  cursor: pointer;
  transition: background-color 250ms var(--function);
}

/* === MODAL_FIN === */
