.header {
  position: relative;
  border-bottom: 4px solid red;
}
.header__container {
  display: flex;
  align-items: center;
  // justify-content: space-between;
}

.nav-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.header__logo {
  padding-top: 18px;
  padding-bottom: 18px;
  display: inline-block;
  @include tablet {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }
}
