.header * {
  outline: 1px solid teal;
}
.header {
  border-bottom: 2px solid red;
}

.logo {
  display: block;

  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;

  color: var(--text-accent-color);
  & .logo__part--dark {
    color: var(--black-color);
  }

  & .logo__part--light {
    color: var(--bg-prime-color);
  }
  @media screen and (min-width: 1200px) {
    font-size: 26px;
    line-height: calc(31 / 26);
  }
}
.header__logo {
  display: inline-block;
}
.site-nav {
  display: inline-flex;
}
