// /* ! === СЕКЦИЯ ОСОБЕННОСТИ MOBILE  === */

// ! --- hidden title H2 ---
.section__title--hidden {
  @extend %hidden;
}

.nuances-list {
  display: block;
}

.nuances-list__item {
  // width: 270px;
  width: auto;
  // @media screen and (min-width: 480px) {
  //   width: 768px;
  // }

  &:not(:last-child) {
    // margin-right: 30px;
    margin-bottom: 30px;
  }
}

.nuances-list__title {
  margin-bottom: 10px;

  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.nuances-list__txt {
  line-height: 1.7;
  // line-height: calc(24 / 14);

  letter-spacing: 0.03em;
}

// /* === SVG ОСОБЕННОСТЕЙ ===- */
.nuances-list__box {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: var(--bg-second-color);
}

//  ! ----------TABLET

// .nuances-list {
//   display: flex;
// }

// .nuances-list__item {
//   width: 270px;
//   width: auto;

//   &:not(:last-child) {
//     margin-right: 30px;
//   }
// }

// .nuances-list__title {
//   margin-bottom: 10px;

//   font-weight: 700;
//   font-size: 14px;
//   line-height: 1.14;
//   letter-spacing: 0.03em;
//   text-transform: uppercase;
// }

// .nuances-list__txt {
//   line-height: 1.7;
//   letter-spacing: 0.03em;
// }

// // /* === SVG ОСОБЕННОСТЕЙ ===- */
// .nuances-list__box {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 270px;
//   height: 120px;
//   margin-bottom: 30px;
//   border-radius: 4px;
//   background-color: var(--bg-second-color);
// }
// !===================
