/* --- АДРЕСС ПРОСПЕКТТ --- */
.address-list__txt {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--bg-prime-color);
}

/* --- АДРЕСНЫЕ ССЫЛКИ В ФУТЕРЕ  --- */
.address-list__link {
  display: block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--link-footer-color);

  transition: color $function;

  &:hover,
  &:focus {
    color: var(--text-accent-color);
  }
}

.address-list__item {
  margin-top: 9px;
}
