.mailing {
  display: flex;
  flex-direction: column;
}

.mailing__label {
  margin-bottom: 20px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--bg-prime-color);
  text-transform: uppercase;
}

.mailing__box {
  display: flex;
}

.mailing__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  /* padding-right: 5px; */

  font-size: 16px;
  line-height: 1.25;
  color: var(--bg-prime-color);

  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: border-color $function;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  &::placeholder {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--link-footer-color);
  }
  &:focus {
    border-color: var(--text-accent-color);
    outline: var(--text-accent-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  }
}

.mailing__btn {
  display: flex;
  width: 200px;
  height: 50px;
  align-items: center;
  padding-left: 28px;

  font-family: inherit; /* НАСЛ-от BODY-  */
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  color: var(--bg-prime-color);
  background-color: var(--text-accent-color);
  // box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color $function;

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}

.mailing__icon {
  margin-left: 10px;
  fill: var(--bg-prime-color);
}
