/* !--- КОНТАКТЫ HEADER   --- */
.contacts-head {
  display: flex;
  // margin-left: auto;
  margin-left: 305px;
}

.contacts-head__item:not(:last-child) {
  margin-right: 30px;
}

.contacts-head__link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--text-prime-color);
  fill: currentColor;

  transition: border-color $function, outline-color $function, fill $function, color $function;

  &:hover,
  &:focus {
    color: var(--text-accent-color);
    fill: currentColor;
    outline-color: var(--text-accent-color);
  }
}

.contacts-head__icon {
  margin-right: 10px;
}
