// ! ====== LOGO  COMMONS
.logo {
  display: block;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;

  color: var(--text-accent-color);
  //
  & .logo__part--dark {
    color: var(--black-color);
  }
  //  БЕЛЫЙ ЦВЕТ ЛОГОТИПА ФУТЕРА
  & .logo__part--light {
    color: var(--bg-prime-color);
  }
}
